body {
    background: #222;
}

video {
    border-radius: 5px;
    margin: 20px;
    text-align: center;
}

video source {
    display: inline-block;
}

.row {
    width: 100%;
}

.card {
    margin-right: 15px;
    margin-left: 15px;
    background: none;
    border: none;
}